
#careboard {	
	background: url('../images/gv_ecbd-motherbaby_bk.jpg') no-repeat;
	overflow: hidden;
	color: white;
	font-family: "Bitstream Vera Sans";
	font-size: 22px;
	font-weight: normal;
	margin: 0;
	padding: 0;		
}

#careboard.rotate90 {
	background-image: url('../images/gv_ecbd_bk.jpg');
}

#careboard.rotateminus90 {
	background-image: url('../images/gv_ecbd_bk_reverse.jpg');
}

#careboard p {
	text-align: left;
	margin: 0;
	padding: 1px 0;
	letter-spacing: .5px;
}

#careboard #view {
	width: 720px;
	height: 1280px;
}

#careboard.rotate90  #view{
	transform: rotate(90deg);	/* CSS 3 */
	-moz-transform: rotate(90deg);  /* FF3.5+ */
	-o-transform: rotate(90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
	margin: -280px 0 0 280px;
	overflow: hidden;
}

#careboard.rotateminus90  #view{
	transform: rotate(-90deg);	/* CSS 3 */
	-moz-transform: rotate(-90deg);  /* FF3.5+ */
	-o-transform: rotate(-90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
	margin: -280px 0 0 280px;
	overflow: hidden;
}


#careboard #view > div.active {
	border: 4px solid #ffffff;
}

#careboard #logo {
	background: url(../images/logo-sm.png);
	position: absolute;
	left: 480px;
	top: 1140px;
	width: 190px;
	height: 114px;
	z-index: 4;
}

#careboard #logo-decline {
	background: url(../images/logo-sm.png);
	position: absolute;
	left: 265px;
	top: 1140px;
	width: 190px;
	height: 114px;
	z-index: 4;
}

#careboard div.header {

	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;

}
#careboard div.header-small {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 3px;

}

#careboard div.header2 {
	font-size: 22px;
	font-weight: bold;
	color: #A4CEE4;
	padding-top: 5px;
}


#careboard div.header3 {
	font-size: 28px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;
	background-color: #5599BC;
	border-radius: 16px 16px 0px 0px;
	line-height: 40px;
	width: 330px;
}

#careboard span.header4 {
	font-size: 22px;
	font-weight: bold;
	color: #F9FBFC;
	padding-right: 20px;
	background-color: #87B56C;

}

#careboard span.checkmark1 {
	color: #87B56C;
	font-weight: bold;
}

#careboard span.checkmark2 {
	color: #5599BC;
	font-weight: bold;
}

#careboard span.text-color-1 {
	color: #FDFDFD;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}
#careboard span.text-color-2 {
	color: #5599BC;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}

#careboard #date {
	position: absolute;
	left: 165px;
	top: 0px;
	width: 390px;
	height: 54px;
	padding: 00px 0px;
	background-color: #023867;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	z-index: 4;
	/* [disabled]border-top-right-radius: 0px; */
	/* [disabled]border-top-left-radius: 0px; */
}

#careboard #date p {
	color: #FDFDFD;
	text-align: center;
	line-height: 60px;
}

#careboard #basicinfo {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 720px;
	height: 90px;
	padding-top: 30px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	text-align: center;
	background-color: #FFFFFF;	/*border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
}

#careboard #basicinfo #name {
	font-size: 32px;
	color: #1E4B86;
	font-weight: bold;
	padding-top: 26px;
}

#careboard #basicinfo #roominfo {
	font-size: 24px;
	color: #5599BE;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

#careboard #dischargedate {
	position: absolute;
	left: 0px;
	top: 100px;
	width: 720px;
	height: 36px;
	padding-top: 4px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 4px;
	background-color: #87B56C;
}

#careboard #dischargedate p {
	color: #FFFFFF;
	text-align: center;
}

#careboard #careteam-title {
	font-size: 22px;
	line-height: 22px;
	position: absolute;
	left: 165px;
	top: 120px;
	width: 390px;
	height: 34px;
	padding-top: 6px;
	background-color: #5599BC;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	/* [disabled]border-top-right-radius: 26px; */
	/* [disabled]border-top-left-radius: 26px; 
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
	letter-spacing: .5px;
	font-weight: bold;
}

#careboard #careteam {
	font-size: 22px;
	line-height: 22px;
	position: absolute;
	left: 54px;
	top: 156px;
	width: 620px;
	height: 160px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 22px;
	padding-bottom: 2px;
	letter-spacing: .5px;
	font-weight: bold;
}
#careboard #careteam p {
	font-size: 22px;
	font-weight: bold;
	color: #A4CEE4;
	line-height: 30px;
}


#careboard #careteam2 {
	font-size: 22px;
	line-height: 24px;
	position: absolute;
	left: 370px;
	top: 180px;
	width: 320px;
	height: 260px;
	padding-top: 12px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 12px;
	/*background-color: rgba(57,128,161,0.90);
	border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
	letter-spacing: .5px;
	font-weight: bold;
}

#careboard #painchart {
	background: url(../images/wong_baker_pain-management-faces1.png);
	position: absolute;
	left: 110px;
	top: 320px;
	width: 500px;
	height: 218px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	background-color: #F0F4F5;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	border-top-right-radius: 26px;
	border-top-left-radius: 26px;
	box-shadow: 4px 4px 8px rgba(1,25,43,0.60);
	-webkit-box-shadow: 4px 4px 8px rgba(1,25,43,0.60);
}
#careboard #diet-title {
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	position: absolute;
	left: 235px;
	top: 549px;
	width: 250px;
	height: 30px;
	padding-top: 6px;
	background-color: #5599BC;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	letter-spacing: 0px;
	font-weight: bold;
	z-index: 4;
}

#careboard #diet {
	position: absolute;
	left: 60px;
	top: 549px;
	width: 580px;
	height: 66px;
	padding-top: 40px;
	padding-right: 0px;
	padding-left: 20px;
	padding-bottom: 0px;
	font-size: 20px;
	background-color: #F0F4F5;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	border-top-right-radius: 26px; 
	border-top-left-radius: 26px;
	box-shadow: 6px 4px 8px rgba(1,25,43,0.60);
	-webkit-box-shadow: 6px 4px 8px rgba(1,25,43,0.60);
}

#careboard #diet p {
	line-height: 24px;
	color: #5599BC;
	font-weight: bold;
}

#careboard #activities {
	position: absolute;
	left: 28px;
	top: 666px;
	width: 662px;
	height: 270px;
	padding: 0px 0px;
	background-color: #F0F4F5;
	border-radius: 26px 26px;
	box-shadow: 6px 4px 8px rgba(1,25,43,0.60);
	-webkit-box-shadow: 6px 4px 8px rgba(1,25,43,0.60);
}

#careboard  #activity-title {
	font-size: 22px;
	line-height: 22px;
	position: absolute;
	left: 100px;
	top: 666px;
	width: 240px;
	height: 34px;
	padding-top: 4px;
	background-color: #5599BC;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	letter-spacing: .5px;
	font-weight: bold;
	text-align: center;
}
#careboard #activity {
	position: absolute;
	left: 40px;
	top: 694px;
	width: 330px;
	height: 220px;
	padding-top: 18px;
	padding-right: 8px;
	padding-left: 18px;
	padding-bottom: 0px;
	float: left;
	font-size: 20px;
}

#careboard #activity p {
	color: #023867;
	font-weight: bold;
	line-height: 22px;
}

#careboard  #tests-title {
	font-size: 22px;
	line-height: 22px;
	position: absolute;
	left: 400px;
	top: 666px;
	width: 240px;
	height: 34px;
	padding-top: 4px;
	background-color: #5599BC;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	letter-spacing: .5px;
	font-weight: bold;
	text-align: center;
}

#careboard #tests {
	position: absolute;
	left: 400px;
	top: 694px;
	height: 220px;
	width: 270px;
	padding-top: 18px;
	padding-right: 12px;
	padding-left: 8px;
	padding-bottom: 0px;
	float: left;
	font-size: 20px;
	/*background-color: rgba(18,74,99,0.80);
	border-radius: 26px 26px;
	/*box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
}

#careboard #tests p {
	line-height: 22px;
	color: #023867;
	font-weight: bold;
}


#careboard #clinical-title {
	font-size: 24px;
	line-height: 24px;
	position: absolute;
	left: 235px;
	top: 950px;
	width: 250px;
	height: 30px;
	padding-top: 6px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	background-color: #5599BC;
	/* border-bottom-left-radius: 26px;*/
	/* border-bottom-right-radius: 26px;*/
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	letter-spacing: .5px;
	font-weight: bold;
	z-index: 4;
	text-align: center;
}

#careboard #clinical {
	position: absolute;
	left: 30px;
	top: 950px;
	width: 640px;
	height: 130px;
	padding-top: 42px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #F0F4F5;
	border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);

}

#careboard #clinical p {
	text-align: center;
}

#careboard #clinical #icons {
	margin: 0px auto;
	text-align: center;
	display: inline-block;
}

#careboard #clinical #icons div.icon {
	width: 62px;
	height: 62px;
	float: left;
}

/*ICONS */

#careboard #clinical #icons #fallrisk {
	background: url('../images/icon_fall-risk.png') no-repeat;
}

#careboard #clinical #icons #isolation {
	background: url('../images/icon_precaution_isolation.png') no-repeat;
}

#careboard #clinical #icons #seizure{
	background: url('../images/icon_precaution_seizure.png') no-repeat;
}
#careboard #clinical #icons #vitals-no {
	background: url('../images/icon_no-venipuncture-no-vitals.png') no-repeat;
}
#careboard #clinical #icons #telemetry {
	background: url('../images/icon_cardiac-telemetry.png') no-repeat;
}


#careboard #clinical #icons #bundle-iv {
	background: url('../images/icon_bundle_iv.png') no-repeat;
}

#careboard #clinical #icons #bundle-skin {
	background: url('../images/icon_bundle_skin.png') no-repeat;
}

#careboard #clinical #icons #bundle-vap {
	background: url('../images/icon_bundle_vap.png') no-repeat;
}

#careboard #clinical #icons #dailyweight {
	background: url('../images/icon_dailyweight.png') no-repeat;
}

#careboard #clinical #icons #water-restrict {
	background: url('../images/icon_water-restriction.png') no-repeat;
}

#careboard #clinical #icons #water-intake{
	background: url('../images/icon_water-strict-io.png') no-repeat;
}

#careboard #clinical #icons #bottlefeed{
	background: url('../images/icon_bottlefeeding.png') no-repeat;
}

#careboard #clinical #icons #breastfeed{
	background: url('../images/icon_breastfeeding.png') no-repeat;
}


#careboard #clinical #icons #impaired-visual{
	background: url('../images/icon_impaired-visual.png') no-repeat;
}

#careboard #clinical #icons #impaired-hearing{
	background: url('../images/icon_impaired-hearing.png') no-repeat;
}

#careboard #clinical #icons #impaired-speech{
	background: url('../images/icon_impaired-speech.png') no-repeat;
}




#careboard #support-title {
	font-size: 22px;
	line-height: 24px;
	position: absolute;
	left: 30px;
	top: 1140px;
	width: 340px;
	height: 36px;
	padding-top: 4px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 0px;
	background-color: #5599BC;
	/* border-bottom-left-radius: 26px;*/
	/* border-bottom-right-radius: 26px;*/
	border-top-right-radius: 26px;
	border-top-left-radius: 26px;
	/* box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
	letter-spacing: .5px;
	font-weight: bold;
	z-index: 4;
}	
#careboard #supportperson {
	position: absolute;
	left: 30px;
	top: 1140px;
	width: 360px;
	height: 66px;
	font-size: 20px;
	padding-top: 44px;
	padding-right: 4px;
	padding-left: 25px;
	padding-bottom: 4px;
	background-color: #F0F4F5;
	border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);
}

#careboard #supportperson p {
	text-align: left;
	font-weight: bold;
	color: #023867;
}

#careboard #supportperson p span.name, #careboard #supportperson p span.tel{
	margin: 0 15px;
}

#careboard #footer {
	position: absolute;
	left: 30px;
	top: 1225px;
	width: 350px;
	height: 30px;
	padding-top: 0px;
	padding-right: 5px;
	padding-left: 24px;
	padding-bottom: 10px;
	/*background-color: rgba(17,99,27,0.80);
	border-radius: 26px 26px;
	/*box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
}

#careboard #footer p {
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	color: #023867;
}

#careboard #decline-text {
	font-size: 42px;
	position: absolute;
	left: 54px;
	top: 380px;
	width: 620px;
	height: 360px;
	letter-spacing: .5px;

}
#careboard #decline-text p {
	font-weight: bold;
	color: #F0F4F5;
	text-align: center;
	line-height: 70px;
}
