
#discharged {	
	background: url('../images/gv_ecbd-motherbaby_bk.jpg') no-repeat;
	overflow: hidden;
	color: white;
	font-family: "Bitstream Vera Sans";
	font-size: 22px;
	font-weight: normal;
	margin: 0;
	padding: 0;		
}

#discharged.rotate90 {
	background-image: url('../images/gv_ecbd_bk.jpg');
}

#discharged.rotateminus90 {
	background-image: url('../images/gv_ecbd_bk_reverse.jpg');
}

#discharged p {
	text-align: left;
	margin: 0;
	padding: 1px 0;
	letter-spacing: .5px;
}

#discharged #view {
	width: 720px;
	height: 1280px;
}

#discharged.rotate90  #view{
	transform: rotate(90deg);	/* CSS 3 */
	-moz-transform: rotate(90deg);  /* FF3.5+ */
	-o-transform: rotate(90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
	margin: -280px 0 0 280px;
	overflow: hidden;
}

#discharged.rotateminus90  #view{
	transform: rotate(-90deg);	/* CSS 3 */
	-moz-transform: rotate(-90deg);  /* FF3.5+ */
	-o-transform: rotate(-90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
	margin: -280px 0 0 280px;
	overflow: hidden;
}


#discharged #view > div.active {
	border: 4px solid #ffffff;
}

#discharged #logo {
	background: url(../images/logo-sm.png);
	position: absolute;
	left: 265px;
	top: 1140px;
	width: 190px;
	height: 114px;
	z-index: 4;
}

#discharged #logo-decline {
	background: url(../images/logo-sm.png);
	position: absolute;
	left: 265px;
	top: 1140px;
	width: 190px;
	height: 114px;
	z-index: 4;
}

#discharged div.header {

	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;

}
#discharged div.header-small {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 3px;

}

#discharged div.header2 {
	font-size: 22px;
	font-weight: bold;
	color: #A4CEE4;
	padding-top: 5px;
}


#discharged div.header3 {
	font-size: 28px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;
	background-color: #5599BC;
	border-radius: 16px 16px 0px 0px;
	line-height: 40px;
	width: 330px;
}

#discharged span.header4 {
	font-size: 22px;
	font-weight: bold;
	color: #F9FBFC;
	padding-right: 20px;
	background-color: #87B56C;

}


#discharged span.text-color-1 {
	color: #FDFDFD;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}
#discharged span.text-color-2 {
	color: #5599BC;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}

#discharged #date {
	position: absolute;
	left: 165px;
	top: 0px;
	width: 390px;
	height: 54px;
	padding: 00px 0px;
	background-color: #023867;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	z-index: 4;
	/* [disabled]border-top-right-radius: 0px; */
	/* [disabled]border-top-left-radius: 0px; */
}

#discharged #date p {
	color: #FDFDFD;
	text-align: center;
	line-height: 60px;
}

#discharged #basicinfo {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 720px;
	height: 90px;
	padding-top: 30px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	text-align: center;
	background-color: #FFFFFF;	/*border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
}

#discharged #basicinfo #name {
	font-size: 32px;
	color: #1E4B86;
	font-weight: bold;
	padding-top: 26px;
}

#discharged #basicinfo #roominfo {
	font-size: 24px;
	color: #5599BE;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

#discharged  #discharged-text {
	font-size: 42px;
	position: absolute;
	left: 54px;
	top: 380px;
	width: 620px;
	height: 360px;
	letter-spacing: .5px;

}
#discharged #discharged-text p {
	font-weight: bold;
	color: #F0F4F5;
	text-align: center;
	line-height: 70px;
}

#discharged  #room2 {
	font-size: 42px;
	position: absolute;
	left: 54px;
	top: 680px;
	width: 620px;
	height: 360px;
	letter-spacing: .5px;

}
#discharged #room2 p {
	font-weight: bold;
	color: #F0F4F5;
	text-align: center;
	line-height: 70px;	
}

